*{
  padding: 0;
  margin: 0;
}
.container{
  background: linear-gradient(to bottom right, purple, blue);
  width: 100%;
  
}
h1{
  margin-left: 37%;
}
h2{
  margin-left: 50%;
  color: white;
}

.images-drop{
 
  display: flex;
  justify-content: space-around;
}
.image{
  width: 100px;
  height: 100px;
}
.images{
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  margin-top: 30px;
  border: 1px dashed black;
  
}
.drop{
  
  background: linear-gradient(to top left, blue, purple);
  width: 303px;
  height: 303px;
  border: 1px solid black;
  margin-top: 30px;
}
.a{
  display: flex;
}
.drops{
  width: 100px;
  height: 100px;
  border: 1px solid green;
}